# Python & Environment
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.DS_Store

# Project Data & Results
# Ignore the raw and processed datasets (too large)
data/final_dataset_voc/
data/processed_yolo/
data/data.yaml

# Ignore large model weights
*.pt
models/pre_trained/
models/fine_tuned/
runs/

# Ignore training logs and temporary reports
reports/runs/
reports/evaluation/
wandb/

# IDE Settings
.vscode/
.idea/
*.ipynb_checkpoints/